.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: burlywood;
    width: 50px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    background-color: burlywood;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.mid{
text-align: center;
display: flex;
flex: 1;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 20px;
border-color: orange;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
width: 0px;
}
.mid:hover{
    border-color: aqua;
}
.mid:active{
    border: none;
}
.star{
    color: aqua;
}
.row{
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 700px;
}
.l{
    display: flex;
    align-items: center;
}
.dots{
    height: 20px;
    
}
.m{
    display: flex;
    flex: 1;
    max-width: 500px;
    width: 0;
    position: relative;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.search-hover{
    position: absolute;
    z-index: 2;
    left: 220px;
    top: 50px;
    background-color: gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.m:hover .search-hover{
    opacity: 1;
}


.side-bars{
    height: 120px;
    width: 50px;
    background-color: burlywood;
    transition: background-color 0.3s;
}

.side-bars:hover{
    background-color: aliceblue;
}