.main{
    background-color: rgb(221, 193, 138);
    padding-top: 50px;
    padding-left: 45px;
}


.q{
    display: grid;
    column-gap: 90px;
    row-gap: 40px;
    height: 427px;
    padding-bottom: 1000px;
}

@media (min-width: 500px) { 
    .q{
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width: 750px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media (min-width: 1050px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media (min-width: 1400px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}

@media (min-width: 1700px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 2000px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 2500px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 2600px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 2800px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 2850px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

@media (min-width: 3450px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}


@media (min-width: 4600px) {
    .q{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    } 
}

.p48{
    width: 200px;
    height: 150px;
    border-radius: 15px;
}
.w{
    display: inline-block;
}
.p25{
    width: 30px;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-color: coral;
    border-radius: 30px;
}
.e{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-family: 'Courier New';
    font-weight: bold;
    cursor: default;
}
.r{
    vertical-align: top;
    display: inline-block;
    font-size: 10px;
    color: gray;
    cursor: default;
}
.t{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}
.y{
    margin-top: 10px;
    font-size: 15px;
    cursor: default;
    text-align: justify;
}
.i{
    background-color: red;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    color: aliceblue;
    transition: background-color 0.5s;
    cursor: pointer;
}
.i:hover{
background-color: orange;
}
.i:active{
opacity: 0.5;
}

.o{
    background-color: green;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    color: aliceblue;
    transition: background-color 0.5s;
    cursor: pointer;
}
.o:hover{
background-color: orange;
}
.o:active{
opacity: 0.5;
}

.io{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.rate{
    font-size: 15px;
    display: inline-block;
    color: yellow;
    vertical-align: top;
    cursor: pointer;
}
.rat{
display: inline-block;
color: gray;
margin-top: 3px;
font-size: 10px;
cursor: default;
vertical-align: top;
}
.rates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pr1{
    display: inline-block;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: gold;
    border-radius: 10px;
    background-color: crimson;
    cursor: default;
}
.pr2{
    background-color: orange;
    display: inline-block;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: aliceblue;
    border-radius: 10px;
    cursor: default;
}
.pr3{
    display: inline-block;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 3px;
    padding-bottom: 5px;
    padding-right: 3px;
    color: aliceblue;
    background-color: rgb(12, 100, 100);
    border-radius: 10px;
    cursor: default;
}
.author{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default
}

.google{
    height: 20px

}
.cat-name{
    position: absolute;
    top: 130px;
    left: 120px;
    color: white;
    background-color: slategray;
    border-radius: 3px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
.product1{
    position: relative;
}